
/*Resetando o css base do navegador*/
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

html,body {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;

}

/*Aqui estamos importando a fonte do google*/


h1{
color: #2A5BFA;
font-size: 42px;
}

.container{

    width: 250px;
    border: 2px solid #ddd;
    margin: auto;
    margin-top: 50px;
    padding: 25px;
    text-align: center;
    display: table;
    padding-top: 5px;
    border-radius: 8px;

} 

input{
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    outline: none;
    

}


input:focus{

border: 2px solid  #2A5BFA;


}

     

#btn-entrar{

    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #2A5BFA;
    border: none;
    color: white;
    outline: none;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 18px;
    border-radius: 5px;

}
#btn-entrar:hover{

    cursor: pointer;
    background-color: #2A2BC8;
}

.grupo {

    text-align: start;
    margin-bottom: 20px;
}

a{
    
    color: #2A5BFA;
    text-decoration: none ;
    float: right;


}
